/* Place text in the middle of the image */
.hero-heading {
    text-align: center;
    font-size: 100px;
    padding-top: 70px;
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight:600;
    margin: 0px;
}

.hero-subheading{
    text-align: center;
    font-size: 30px;
    padding-top: 1px;
    font-family: "Rubik", sans-serif;
    font-weight:400;
    font-style: normal;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
      /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.full-body{
    background-color: #1a1c2b;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.infinite-text{
    color: #f3ec78;
    
}
.storage-text{
    color: #af4261;
}

.infinity-symbol{
    font-style: normal;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
      /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.upload-box{
    margin-top:30px;
}
.upload-icon{
    font-size: 180px;
    color: #1a1c2b;
}
#drop-zone {
    width: 500px;
    padding:10px;
    text-align:center;
    height: 300px;
    border-radius: 20px;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}
.drop-mid-zone{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #8c8b91;
}

.access-input{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    border-radius: 5px;
    font-size: 15px;
    border: none;
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

::placeholder {
    color: rgb(2, 3, 29);

}

#AccessKeyHelp{
    color: #dedde6;
}

.upload-bottom-text{
    font-size: 12px;
    color: #34353d;
}
.upload-button{
    padding-left:40px;
    padding-right:40px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
}
.upload-button:hover{
    background-image: linear-gradient(45deg, #f1efc0c5, #b47b8bbd);
}

.upload-response{
    margin-top:20px;
    font-size: 20px;
    color: white;
    font-weight: 600;
    background-color: rgb(5, 66, 5);
    border-radius: 5px;
}

.files-list-box{
    border-radius: 20px;

    margin-top: 50px;
    color: white;
    background-color: #212335;
}
.file-list-heading{
    font-size: 20px;
    margin:0px;
    color: black;
    padding-top: 20px ;
    font-weight: 700;
    border-bottom: 1px solid white;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-bottom: 10px;
    background-color:#171522;
}
.list-field{
    padding-left: 0px;
    padding-right: 0px;
    font-size: 17px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.list-item{
    padding-top: 7px;
    padding-bottom: 7px;
    margin:0px;
    color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.315);
}
.list-item:hover{
    background-image: linear-gradient(45deg, #f3ed78ab, #af4261);
}
.download{
    background-color: rgb(11, 119, 56);
    border-radius: 3px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
.download:hover{
    background-color: rgb(96, 119, 106);
    color: white;
    border-radius: 3px;;
}
.footer-box{
    border-top: 1px solid rgb(43, 43, 43);
    padding-top: 15px;
    margin-top:100px;
    color: white;
    font-size: 20px;
    padding-bottom:10px;
    background-color: #232031;
}
.social-icon{
    color: white;
}
.social-icon:hover{
    color: #f3ec78;
}
.name-tag{
    font-size: 15px;
}
.icon-heart{
    padding-top: 5px;
    color: #af4261;
}
.disclaimer-title{
    font-size: 15px;
    color: #f3ec78;
}
#disclaimer{
    margin-top:30px;
    color: #f3ec78;
}